---
const { post } = Astro.props;
---

<article class="mb-24">
  <img src={post.data.image.url} alt={post.data.image.alt} />

  <div class="px-5 md:px-0">
    <a href=`posts/${post.slug}`>
      <h2 class="text-5xl font-poppinsBold text-green my-5">
        {post.data.title}
      </h2>
    </a>
    <p class="text-base-content">
      {post.data.description}
    </p>
  </div>
</article>
